In [14]:
import pandas as pd
import numpy as np

In [15]:
df_lmerged = pd.read_csv('db/london_merged.csv')
df_lmerged

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [16]:
df_lmerged.dtypes

timestamp        object
cnt               int64
t1              float64
t2              float64
hum             float64
wind_speed      float64
weather_code    float64
is_holiday      float64
is_weekend      float64
season          float64
dtype: object

In [17]:
df_lmerged['timestamp'] = pd.to_datetime(df_lmerged['timestamp'])
df_lmerged['timestamp']

0       2015-01-04 00:00:00
1       2015-01-04 01:00:00
2       2015-01-04 02:00:00
3       2015-01-04 03:00:00
4       2015-01-04 04:00:00
                ...
17409   2017-01-03 19:00:00
17410   2017-01-03 20:00:00
17411   2017-01-03 21:00:00
17412   2017-01-03 22:00:00
17413   2017-01-03 23:00:00
Name: timestamp, Length: 17414, dtype: datetime64[ns]

In [18]:
df_lmerged['Hour'] = df_lmerged['timestamp'].dt.hour
df_lmerged['Hour']

0         0
1         1
2         2
3         3
4         4
         ..
17409    19
17410    20
17411    21
17412    22
17413    23
Name: Hour, Length: 17414, dtype: int64

In [19]:
df = df_lmerged.iloc[:,1:]
df

,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season,Hour
0,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0,0
1,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0,1
2,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0,2
3,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0,3
4,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0,4
...,...,...,...,...,...,...,...,...,...,...
17409,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0,19
17410,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0,20
17411,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0,21
17412,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0,22
17413,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0,23

In [20]:
df.dtypes

cnt               int64
t1              float64
t2              float64
hum             float64
wind_speed      float64
weather_code    float64
is_holiday      float64
is_weekend      float64
season          float64
Hour              int64
dtype: object

In [21]:
df['wind_speed']**2

0         36.00
1         25.00
2          0.00
3          0.00
4         42.25
          ...
17409    361.00
17410    441.00
17411    576.00
17412    529.00
17413    484.00
Name: wind_speed, Length: 17414, dtype: float64

In [22]:
def fun_1(x):
    y=x**2 + 1
    return y

In [23]:
fun_1(10)

101

In [24]:
np.arange(-5,6)

array([-5, -4, -3, -2, -1,  0,  1,  2,  3,  4,  5])

In [26]:
np.arange(-5,6).shape

(11,)

In [27]:
fun_1(np.arange(-5,6))

array([26, 17, 10,  5,  2,  1,  2,  5, 10, 17, 26])

In [29]:
df['Hour'].apply(fun_1)

0          1
1          2
2          5
3         10
4         17
        ...
17409    362
17410    401
17411    442
17412    485
17413    530
Name: Hour, Length: 17414, dtype: int64

In [30]:
def fun_2(x, a=1, b=0):
    y=x**2+a*x+b
    return y

In [32]:
df['Hour'].apply(fun_2, args=[20, -100])

0       -100
1        -79
2        -56
3        -31
4         -4
        ...
17409    641
17410    700
17411    761
17412    824
17413    889
Name: Hour, Length: 17414, dtype: int64

In [37]:
df.apply(lambda x: x.mean(), axis=1)

0         29.30
1         24.75
2         24.25
3         18.40
4         15.75
          ...
17409    117.30
17410     67.60
17411     47.45
17412     35.90
17413     27.10
Length: 17414, dtype: float64